#myHeader {font-size: x-large;
    font-weight: bold;
}
#objective {font-size: x-large;
    font-weight: bold;
    
}
#random {font-size: medium;
    
}
#education {font-weight: bold;
    
}
#experience {font-weight: bold;
    
} 
#activities {font-weight: bold;
    
}
#skills {font-weight: bold;

}
#jumbotron {background-color: lightblue;
    
}
